<ion-header>
  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title >Bluck Attendance </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-item>
    
        <ion-label position="floating">Classes Held</ion-label>
        <ion-input type="number" placeholder="Classes Held"  (ionChange)='changeValue($event)'  ></ion-input>
       
      </ion-item>
      <ion-button style="padding-left: 50%;" type="submit" [disabled]="!myForm.valid" >
        Save</ion-button>
    </ion-item>
  
  <!-- <div class="thumnails" >
    <div class="list-thumbnail">
      <div class="img-thumb"> -->
        
          <ion-grid  class="grid-bordered" >
            <ion-row class="row-text">
              <!-- <ion-col text-center class="ion-col" size="1">
                <p>Action</p>
              </ion-col> -->
              <ion-col text-center class="ion-col" size="2">
                <p>Roll No</p>
              </ion-col>
              <ion-col text-center class="ion-col" size="4">
                <p>Name</p>
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <p>Conducted</p>
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <p>Attended</p>
              </ion-col>
            </ion-row>
            <ion-row class="row-text" *ngFor="let student of studentList; let i=index" >
              <!-- <ion-col text-center class="ion-col" size="1">
                <ion-label (click)="edit(student)" class="label_ion" >
                  <ion-icon  class="btn" name="create-outline"></ion-icon>
                </ion-label>
                &nbsp;&nbsp;
                <ion-label (click)="delete(student)" class="label_ion" *ngIf="student.remarks != null">
                  <ion-icon class="btn" name="trash-outline"></ion-icon>
                </ion-label>
              </ion-col>  -->
              <ion-col text-center class="ion-col" size="2">
                <ion-label class="label_ion" >{{student.roll_no}}</ion-label>
              </ion-col>
              <ion-col text-center class="ion-col" size="4">
                <ion-label class="label_ion" >{{student.student_name}}</ion-label>
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <ion-input type="hidden" formControlName="allocated{{i}}"  ></ion-input>
                <ion-input type="number" formControlName="conducted{{i}}" placeholder="Conducted" (ionChange)='changeConducted($event, i)'></ion-input>
                <!-- <ion-label class="label_ion" >{{student.remarks}}</ion-label> -->
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <ion-input type="number" formControlName="attended{{i}}" placeholder="Attended" (ionChange)='changeAttended($event, i)'></ion-input>
                <!-- <ion-label class="label_ion" >{{student.remarks}}</ion-label> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        
        
      <!-- </div>
    </div>
  </div> -->
</form>
</ion-content>
