<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cont">
    <p class="ls">St Joseph's School, Chhindwara</p>
    <p class="ls">Opp State Bank Of India Main Branch VIP Road, Chhindwara, Madhya Pradesh 480001</p>
    <p href="tel:7768836456">
      <ion-icon name="call" outline></ion-icon>
      +919329591416
    </p>
    <p href="stjosephschoolchhindwara@gmail.com">
      <ion-icon name="mail-open" outline></ion-icon>
      stjosephschoolchhindwara@gmail.com
    </p>
  </ion-card>
</ion-content>
